@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-size: 1.2rem;
  background: white;
  font-family: "Spartan", Arial, sans-serif;
}

p {
  line-height: 1.8;
  margin-top: 2rem;
  font-weight: 600;
  color: #a1a1a1;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

li {
  list-style-type: none;
}

.grid--container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 66% 34%;
      grid-template-rows: 66% 34%;
}

@media only screen and (max-width: 850px) {
  .grid--container {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

@media only screen and (max-width: 850px) {
  .top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30rem auto;
        grid-template-rows: 30rem auto;
  }
}

.top .top__hero--wrap {
  background: black;
  height: 100%;
  width: 100%;
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media only screen and (max-width: 850px) {
  .top .top__hero--wrap {
    grid-column: unset;
    grid-row: unset;
  }
}

.top .top__hero--wrap .nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  position: absolute;
  z-index: 999;
  width: 100%;
  max-width: 53rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .top__hero--wrap .nav .nav__logo {
  width: 75px;
}

.top .top__hero--wrap .nav .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5rem;
}

.top .top__hero--wrap .nav .nav__ul .nav__li + .nav__li {
  margin-left: 4rem;
}

.top .top__hero--wrap .img--container {
  height: 100%;
  width: 100%;
}

.top .top__hero--wrap .img--container .img--wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  -webkit-transition: left 0.25s ease-in-out, opacity 0.5s ease-in-out;
  transition: left 0.25s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.25;
  left: -100%;
  z-index: 1;
}

.top .top__hero--wrap .img--container .img--wrap.display {
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.top .hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4rem;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 850px) {
  .top .hero-info {
    overflow: unset;
  }
}

.top .hero-info .slide-arrows--wrap {
  background: black;
  padding: 1.5em 0em;
  width: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 10;
}

@media only screen and (max-width: 850px) {
  .top .hero-info .slide-arrows--wrap {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    width: 10rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.top .hero-info .slide-arrows--wrap img {
  width: 2rem;
  cursor: pointer;
}

.top .hero-info .hero-info__container {
  width: 100%;
  max-width: 43ch;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top .hero-info .hero-info__container .info--wrap {
  width: 100%;
  position: absolute;
  right: -100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: right 0.25s ease-in-out, opacity 0.5s ease-in-out;
  transition: right 0.25s ease-in-out, opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 850px) {
  .top .hero-info .hero-info__container .info--wrap {
    position: unset;
    visibility: unset;
    display: none;
  }
}

.top .hero-info .hero-info__container .info--wrap .hero-info__h1 {
  font-size: 3.4rem;
  font-weight: 600;
}

.top .hero-info .hero-info__container .info--wrap.display {
  right: 0;
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .top .hero-info .hero-info__container .info--wrap.display {
    visibility: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
}

.bottom .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem;
}

.bottom .about-info .wrap .about-info__h2 {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
}

@-webkit-keyframes slide {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 0.5;
  }
}

@keyframes slide {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 0.5;
  }
}
/*# sourceMappingURL=main.css.map */