.nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: absolute;
    z-index: 999;
    // padding: 4em 5.5em;
    width: 100%;
    max-width: 53rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // outline: solid 2px red;

    @include mobileSize {
        justify-content: flex-start;
        padding: 0 2em;
        max-width: unset;
        margin-top: 4rem;
    }

    .hamburger-btn {
        background: none;
        border: none;
        display: none;
        cursor: pointer;
        width: 2.5rem;

        @include mobileSize {
            display: block;
            z-index: 999;
        }

        .hamburger {
            &.display {
                display: none;
            }
        }

        .x {
            display: none;

            &.display {
                display: block;
            }
        }
    }

    .nav__logo {
        width: 75px;
        // height: 14px;

        @include mobileSize {
            margin: 0 auto;
        }
    }

    .nav__ul {
        display: flex;
        margin-left: 5rem;

        @include mobileSize {
            margin-left: 0;
            display: none;
            position: absolute;
            background: white;
            width: 100%;
            padding: 4em 2em 4em 4em;
            right: 0;

            &.display {
                display: flex;
                justify-content: flex-end;
            }
        }

        .nav__li + .nav__li {
            margin-left: 4rem;

            @include mobileSize {
                margin-left: 2.5rem;
            }
        }

        .nav__li {
            position: relative;
            .nav__a {
                font-size: 1.5rem;
                position: relative;

                @include mobileSize {
                    color: black;
                }

                &::after {
                    content: "";
                    position: absolute;
                    transform: scaleX(0);
                    width: 100%;
                    background: white;
                    transition: transform 0.25s;
                    height: 0.15rem;
                    bottom: -0.5rem;
                    left: 0;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
