.grid--container {
    height: 100%;
    min-height: 80rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 66% 34%;

    @include mobileSize() {
        grid-template-rows: auto auto;
    }
}

.top {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;

    @include mobileSize {
        grid-template-columns: 1fr;
        grid-template-rows: 35rem auto;
    }

    .top__hero--wrap {
        background: black;
        height: 100%;
        width: 100%;
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // display: flex;

        @include mobileSize {
            grid-column: unset;
            grid-row: unset;
        }

        .nav {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            position: absolute;
            z-index: 999;
            // padding: 4em 5.5em;
            width: 100%;
            max-width: 53rem;
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // outline: solid 2px red;

            @include mobileSize {
                justify-content: flex-start;
                padding: 0 2em;
                max-width: unset;
            }

            .hamburger-btn {
                background: none;
                border: none;
                display: none;
                cursor: pointer;

                @include mobileSize {
                    display: block;
                    z-index: 999;
                }

                .hamburger {
                    &.display {
                        display: none;
                    }
                }

                .x {
                    display: none;

                    &.display {
                        display: block;
                    }
                }
            }

            .nav__logo {
                width: 75px;
                // height: 14px;

                @include mobileSize {
                    margin: 0 auto;
                }
            }

            .nav__ul {
                display: flex;
                margin-left: 5rem;

                @include mobileSize {
                    margin-left: 0;
                    display: none;
                    position: absolute;
                    background: white;
                    width: 100%;
                    padding: 4em 2em 4em 4em;
                    right: 0;

                    &.display {
                        display: flex;
                        justify-content: flex-end;
                    }
                }

                .nav__li + .nav__li {
                    margin-left: 4rem;

                    @include mobileSize {
                        margin-left: 2.5rem;
                    }
                }

                .nav__li {
                    position: relative;
                    .nav__a {
                        font-size: 1.5rem;
                        position: relative;

                        @include mobileSize {
                            color: black;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            transform: scaleX(0);
                            width: 100%;
                            background: white;
                            transition: transform 0.25s;
                            height: 0.15rem;
                            bottom: -0.5rem;
                            left: 0;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }

        .img--container {
            height: 100%;
            width: 100%;

            .img--wrap {
                width: 100%;
                height: 100%;
                position: absolute;
                visibility: hidden;
                transition: left 0.25s ease-in-out, opacity 0.5s ease-in-out;
                opacity: 0.25;
                left: -100%;
                z-index: 1;

                &.display {
                    left: 0;
                    opacity: 1;
                    visibility: visible;
                    z-index: 2;
                    // animation: slide 0.25s ease-in-out;
                }

                .hero-images {
                    // position: absolute;
                    // object-position: bottom;
                }
            }
        }
    }

    .hero-info {
        @include flexCenter(column);
        padding: 4rem;
        position: relative;
        overflow: hidden;

        @include mobileSize {
            min-height: 45rem;
            padding: 2rem;
        }

        .shop-now--wrap {
            @include flexCenter(0);
            justify-content: flex-start;
            margin-top: 3rem;

            @include mobileSize {
                margin-top: 5rem;
            }

            .shop__link {
                color: black;
                letter-spacing: 1rem;
                font-weight: 600;
                font-size: 1.4rem;
                transition: color 0.25s;

                &:hover {
                    color: color(dark-gray);
                }

                &:hover + .shop__arrow {
                    opacity: 0.5;
                }
            }
            .shop__arrow {
                width: 4rem;
                margin-left: 2rem;
                opacity: 1;
                transition: opacity 0.25s;
            }
        }

        .slide-arrows--wrap {
            // padding: 1.5em 0em;
            // height: 5rem;
            width: 25%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-around;
            z-index: 10;

            @include mobileSize {
                top: 0;
                right: 0rem;
                bottom: unset;
                left: unset;
                width: 10rem;
                transform: translateY(-100%);
            }

            .previous--wrap,
            .next--wrap {
                background: black;
                padding: 2em 0;
                width: 100%;
                cursor: pointer;
                @include flexCenter();
                transition: background 0.25s;

                &:hover {
                    background: color(very-dark-gray);
                }

                img {
                    width: 1.25rem;
                }

                @include mobileSize {
                    padding: 1em;
                }
            }
        }

        .hero-info__container {
            width: 100%;
            max-width: 43ch;
            position: relative;
            @include flexCenter();
            // overflow: hidden;

            .info--wrap {
                width: 100%;
                position: absolute;
                right: -100%;
                visibility: hidden;
                opacity: 0;
                transition: right 0.25s ease-in-out, opacity 0.5s ease-in-out;

                @include mobileSize {
                    // position: unset;
                    // visibility: unset;
                    // display: none;
                    // right: 0;

                    // display: none;
                    // position: unset;
                }

                &.display {
                    right: 0;
                    visibility: visible;
                    opacity: 1;
                    // animation: slide 0.25s ease-in-out;

                    @include mobileSize {
                        visibility: unset;
                        @include flexCenter(column);
                        align-items: unset;
                    }
                }

                .hero-info__h1 {
                    font-size: clamp(2.8rem, 3vw, 3.4rem);
                    font-weight: 600;
                    max-width: 15ch;
                }

                // this limits the width of the second slide header element to match the design
                .width-limit {
                    max-width: 13ch;
                }
            }
        }
    }
}

.bottom {
    display: grid;
    grid-template-columns: 30% 40% 30%;

    @include mobileSize {
        grid-template-columns: 1fr;
        grid-template-rows: 22rem auto 22rem;
    }

    .about-info {
        @include flexCenter();
        padding: 5rem 3rem;

        .wrap {
            // max-width: 55ch;

            .about-info__h2 {
                font-size: 1.4rem;
                letter-spacing: 0.5rem;
            }
        }
    }
}

@keyframes slide {
    from {
        right: -100%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 0.5;
    }
}

.darken {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: opacity 0.25s;

    &.display {
        z-index: 998;
        visibility: visible;
        opacity: 0.6;
    }
}
