.grid--container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 66% 34%;
}

.top {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;

    .top__img--wrap {
        height: 100%;
        width: 100%;
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // display: flex;

        .nav {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            position: absolute;
            z-index: 999;
            // padding: 4em 5.5em;
            width: 100%;
            max-width: 53rem;
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // outline: solid 2px red;

            .nav__logo {
                width: 75px;
                // height: 14px;
            }

            .nav__ul {
                display: flex;
                margin-left: 5rem;

                .nav__li + .nav__li {
                    margin-left: 4rem;
                }
            }
        }

        .hero-img {
            position: absolute;
            // object-position: bottom;
        }
    }

    .hero-info {
        @include flexCenter();
        padding: 4rem;
        position: relative;

        .slide-arrows--wrap {
            background: black;
            padding: 1.5em 0em;
            // height: 5rem;
            width: 25%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-around;

            img {
                width: 2rem;
                cursor: pointer;
            }
        }

        .wrap {
            max-width: 42ch;

            .hero-info__h1 {
                font-size: 3.4rem;
                font-weight: 600;
            }
        }
    }
}

.bottom {
    display: grid;
    grid-template-columns: 30% 40% 30%;

    .about-info {
        @include flexCenter();
        padding: 4rem;

        .wrap {
            max-width: 52ch;

            .about-info__h2 {
                font-size: 1.4rem;
                letter-spacing: 0.5rem;
            }
        }
    }
}
