.grid--container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 66% 34%;

    @include mobileSize() {
        grid-template-rows: auto auto;
    }
}

.top {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;

    @include mobileSize {
        grid-template-columns: 1fr;
        grid-template-rows: 35rem 45rem;
    }

    .top__hero--wrap {
        background: black;
        height: 100%;
        width: 100%;
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // display: flex;

        @include mobileSize {
            grid-column: unset;
            grid-row: unset;
        }

        .nav {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            position: absolute;
            z-index: 999;
            // padding: 4em 5.5em;
            width: 100%;
            max-width: 53rem;
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // outline: solid 2px red;

            .nav__logo {
                width: 75px;
                // height: 14px;
            }

            .nav__ul {
                display: flex;
                margin-left: 5rem;

                .nav__li + .nav__li {
                    margin-left: 4rem;
                }
            }
        }

        .img--container {
            height: 100%;
            width: 100%;

            .img--wrap {
                width: 100%;
                height: 100%;
                position: absolute;
                visibility: hidden;
                transition: left 0.25s ease-in-out, opacity 0.5s ease-in-out;
                opacity: 0.25;
                left: -100%;
                z-index: 1;

                &.display {
                    left: 0;
                    opacity: 1;
                    visibility: visible;
                    z-index: 2;
                    // animation: slide 0.25s ease-in-out;
                }

                .hero-images {
                    // position: absolute;
                    // object-position: bottom;
                }
            }
        }
    }

    .hero-info {
        @include flexCenter(column);
        padding: 4rem;
        position: relative;
        overflow: hidden;

        @include mobileSize {
            overflow: unset;
            padding: 2rem;
        }

        .shop-now--wrap {
            @include flexCenter(0);
            justify-content: flex-start;
            margin-top: 3rem;

            .shop__link {
                color: black;
                letter-spacing: 1rem;
                font-weight: 700;
                font-size: 1.5rem;
                transition: color 0.25s;

                &:hover {
                    color: color(dark-gray);
                }

                &:hover + .shop__arrow {
                    opacity: 0.5;
                }
            }
            .shop__arrow {
                width: 4rem;
                margin-left: 2rem;
                opacity: 1;
                transition: opacity 0.25s;
            }
        }

        .slide-arrows--wrap {
            // padding: 1.5em 0em;
            // height: 5rem;
            width: 25%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-around;
            z-index: 10;

            @include mobileSize {
                top: 0;
                right: 0;
                bottom: unset;
                left: unset;
                width: 10rem;
                transform: translateY(-100%);
            }

            .previous--wrap,
            .next--wrap {
                background: black;
                padding: 1.5em;
                width: 100%;
                cursor: pointer;
                @include flexCenter();
                transition: background 0.25s;

                &:hover {
                    background: color(very-dark-gray);
                }

                img {
                    width: 2rem;
                    // cursor: pointer;
                }
            }
        }

        .hero-info__container {
            width: 100%;
            max-width: 43ch;
            position: relative;

            @include flexCenter();
            .info--wrap {
                width: 100%;
                position: absolute;
                right: -100%;
                visibility: hidden;
                opacity: 0;
                transition: right 0.25s ease-in-out, opacity 0.5s ease-in-out;

                @include mobileSize {
                    position: unset;
                    visibility: unset;
                    display: none;
                }

                .hero-info__h1 {
                    font-size: clamp(2.8rem, 3vw, 3.4rem);
                    font-weight: 600;
                    max-width: 15ch;
                }

                // this limits the width of the second slide header element to match the design
                .width-limit {
                    max-width: 13ch;
                }

                &.display {
                    right: 0;
                    visibility: visible;
                    opacity: 1;
                    // animation: slide 0.25s ease-in-out;

                    @include mobileSize {
                        visibility: unset;
                        @include flexCenter(column);
                    }
                }
            }
        }
    }
}

.bottom {
    display: grid;
    grid-template-columns: 30% 40% 30%;

    .about-info {
        @include flexCenter();
        padding: 3rem;

        .wrap {
            // max-width: 55ch;

            .about-info__h2 {
                font-size: 1.4rem;
                letter-spacing: 0.5rem;
            }
        }
    }
}

@keyframes slide {
    from {
        right: -100%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 0.5;
    }
}
